@import "tailwindcss";

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  /* Important: Remove default margins */
}

:root {
  --animation-delay-0ms: 0ms;
  --animation-delay-150ms: 150ms;
  --animation-delay-300ms: 300ms;
  --animation-delay-450ms: 450ms;
  --animation-delay-600ms: 600ms;
  --animation-delay-750ms: 750ms;
  --animation-delay-900ms: 900ms;
  --animation-delay-1050ms: 1050ms;
  --animation-delay-1200ms: 1200ms;
  --animation-delay-1350ms: 1350ms;

}